
<header>
	<nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-3">
					<p class="liv-head-back-btm">
						<i class="fa fa-chevron-left"></i>&nbsp;<a ng-href="#!/dashboard">Back</a>
					</p>
				</div>
				<div class="col-xs-7">
					<p class="liv-head-heading">Profile</p>
				</div>
				<div class="col-xs-2">
					<p class="liv-head-info-icon">
						<a ng-href="#!/dashboard">Done</a>
					</p>
				</div>
			</div>

		</div>
	</nav>
</header>

<section class="container">
	<form>
	<div class="liv-head-sal">
		<label class="marT25 theme-lbl-text">Name</label>
		<input type="text" required="required" ng-model="name">
	</div>
	<div class="liv-head-incom">
		<label class="theme-lbl-text">Thai ID</label>
		<input type="text" required="required" ng-model="thaiId">
	</div>
	<div class="liv-head-estimate">
		<label class="theme-lbl-text">Contact Number</label>
		<input type="text" required="required" ng-model="number">
	</div>
	<div class="liv-head-estimate">
		<label class="theme-lbl-text">Address</label>
		<textarea rows="4" cols="6" class="txtarea-theme" required="required" ng-model="address">{{address}}
		</textarea>
	</div>
	</form>

</section>
